body {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.autoplay{
    display:flex;
    justify-content: center;
    border: 2px solid #001f4d;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}
.autoplay div{
    width: auto;
    height: 70px;
    margin: 0 5px; 
    background-color: #ffffff;
    border-color: #001f4d;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.autoplay img{
    max-width: 70px    ; 
    height: auto;
    margin: 0;
    display: block;
    justify-content: center;
}
.alfiles img{
    height: 60px;
    width: auto;
}
.cesap img{
    height: 60px;
    width: auto;
}
.tooltip {
    position: absolute;
    background-color: #043b8d;
    color: rgb(255, 252, 252);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
    bottom: -30px;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}
.autoplay div:hover .tooltip {
    opacity: 1;
}

/* Media Queries */
@media (max-width: 768px){
    .top-bar{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 10px 0;
    }
}
@media(max-width: 480px){
    h1{
        font-size: 1.5rem;
    }
    .links a{
        font-size: 0.9rem;
    }
    nav ul li a{
        padding: 5px 10px;
    }
}


.container {
    background-color: #001f4d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: 4px;
    align-items: center;
}

.container {
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
}

.container img {
    height: 100px;
    margin-right: 10px;
}

.container h1{
    margin:0;
}

.login-container {
    max-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.containerNavbar{
    background-color: #043b8d;
    color: white;
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 5px 60px;
    height: 50px;
    
    align-items: center;
    font-weight: 600;
}

.top-bar{
    background-color: #043b8d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px;
    align-items: center;
    position: relative;
}
.top-bar .fecha{
    color: white;
    font-weight: 600;
}
.top-bar .links{
    display: flex;
    align-items: center;
    position: relative;
}
.top-bar .links a{
    display: inline-block;
    margin-left: 10px;
    pointer-events: auto;
}
/* Estilos para el botón de Facebook */
.top-bar .BtnFace {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.top-bar .BtnFace .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 1;
}

.top-bar .BtnFace .BG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1877f2;
    z-index: 0;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.BtnFace:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
} 

.BtnFace:hover .svgContainer {
    border: 1px solid rgba(230, 230, 230, 0.466);
    background-color: rgba(204, 204, 204, 0.466);
    backdrop-filter: blur(4px);
}

/* Estilos para el botón de Instagram */
.top-bar .BtnIg {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.top-bar .BtnIg .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 1;
}

.top-bar .BtnIg .BG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    z-index: 0;
    border-radius: 9px;
    pointer-events: none;
    transition: all 0.3s;
}

.BtnIg:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.BtnIg:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
}

.mostrar {
    max-width: 800px; /* Ajusta el tamaño máximo para que sea más pequeño */
    width: 100%; /* Asegura que el ancho se ajuste al contenedor padre */
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto; /* Centra el contenedor en la página */
}

.item {
    position: relative;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.large {
    grid-column: span 2;
    grid-row: span 1;
}

.bottom-bar {
    background-color: #043b8d;
    color: white;
    display: flex;
    justify-content: center; /* Centra los contenidos horizontalmente */
    align-items: center;
    padding: 5px 60px;
    position: relative;
}

.bottom-bar .logo {
    height: 50px; /* Ajusta este valor para cambiar el tamaño del logo */
    width: auto; /* Mantiene la proporción del logo */
    margin-right: 20px; /* Espacio entre el logo y el texto */
}

.bottom-bar .copyright {
    font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
    text-align: center;
}


.federacion {
    display: inline-block;
    padding: 10px; /* Espaciado alrededor de la imagen dentro del cuadro */
    border: 2px solid rgba(43, 107, 198, 0.5); /* Bordes transparentes */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    margin-left: 400px;
}

.federacion img {
    width: 100%; /* Ajustar el ancho de la imagen */
    max-width: 300px; /* Tamaño máximo ajustable */
    height: auto; /* Mantener la proporción de la imagen */
    display: block;
}

.photo-gallery {
    width: 50%;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.photo-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery-title, .week-title {
    background-color: rgba(43, 107, 198, 0.5);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.gallery-title {
    font-size: 24px;
}
.week-title {
    font-size: 18px;
}
.slick-prev, .slick-next {
    color: #000000;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}
.slick-prev {
    left: -50px;
}
.slick-next {
    right: -50px;
}
.slick-prev:hover, .slick-next:hover {
    color: #000;
}

.Contacto{
    background-color: rgba(43, 107, 198, 0.5); /* Semitransparent background */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
.nro{
    color: #000;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}
.correo{
    color: #000;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

.ubi{
    color: #000;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}
.ubi .cuadro{
    display: flex;
    justify-content: center;
}

.mantenimiento{
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 40px ;
    height: 500px;
}
.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}
.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
}
.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
@keyframes spinner-fade9234 {
    0% {
        background-color: #69717d;
    }
    100% {
        background-color: transparent;
    }
}